.modebar-btn {
  /* fixes broken modebar button padding with Tailwind */
  display: inline-block;
}

.chart {
  &-placeholder {
    background-color: var(--ticksift-black);
  }
}

.loading {
  filter: blur(4px);
  transition: 1s filter linear;
  transform: translateZ(0px);
}
