input {
    background-color: $brand-dark;
    color: white;
    border: 1px $dark-gray solid;
    border-radius: 0.5rem;
    padding: 5px 10px;
    width: 100%;
}

.select2-container {
    width: 100% !important;
}

.has-error input {
    border-color: $brand-danger;
    border-width: 4px;
}

.select2-dropdown {
    background-color: $brand-dark !important;
}

.select2-dropdown,
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple,
.select2-container .select2-selection__choice,
.select2-dropdown .select2-search__field {
    border: 1px $dark-gray solid !important;
    border-radius: 0.25rem !important;
}

.select2-selection,  {
    background-color: $brand-dark !important;
    .select2-selection__rendered {
        color: white !important;
    }
    .select2-selection__choice {
        background-color: $brand-primary !important;
    }
}

.select2-results, .select2-search__field {
    background-color: $brand-dark !important;
    color: white !important;
    .select2-results__option[aria-selected="true"] {
        background-color: #001F1F !important;
    }
    .select2-results__option--highlighted {
        background-color: #073333 !important;
    }
}

.flatpickr-calendar {
    background: $brand-dark !important;
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: $brand-dark !important;
}
.flatpickr-calendar.arrowBottom:after {
    border-top-color: $brand-dark !important;
}
.flatpickr-months .flatpickr-month {
    background: $brand-dark !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
    background: $brand-dark !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: $brand-dark !important;
}
span.flatpickr-weekday {
    background: $brand-dark !important;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    background: $brand-primary !important;
    border-color: $brand-primary !important;
}

.flatpickr-day.inRange {
    -webkit-box-shadow: -5px 0 0 $brand-primary, 5px 0 0 $brand-primary !important;
    box-shadow: -5px 0 0 $brand-primary, 5px 0 0 $brand-primary !important;
}

.label-centered {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

select ~ .btn,
select ~ form > .btn {
    border-radius: 0.25rem;
}
