.modal {
    .modal-title {
        text-transform: uppercase;
    }
    .modal-header {
        background-color: darken($brand-primary, 5%);
        color: $white;
        border-bottom-color: $dark-gray;
        border-top-left-radius: 3px;
        -moz-border-radius-top-left: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-top-right: 3px;
        -webkit-border-top-right-radius: 3px;
    }
    .modal-content {
        background-color: $brand-primary;
        color: rgba(255, 255, 255, 0.8);
    }
    input, textarea {
        background-color: $brand-dark;
    }
    &.modal-success {
        .modal-header {
            color: $white;
            background-color: $brand-success;
        }
    }
    &.modal-warning {
        .modal-header {
            color: $white;
            background-color: $brand-warning;
        }
    }
    &.modal-danger {
        .modal-header {
            color: $white;
            background-color: $brand-danger;
        }
    }
    &.modal-info {
        .modal-header {
            color: $white;
            background-color: $brand-info;
        }
    }
    &.modal-primary {
        .modal-header {
            color: $white;
            background-color: $brand-primary;
        }
    }
    .modal-footer {
        border-top: none;
    }
}

.cancel-modal-button {
    text-decoration: underline !important;
}

.modal-form {
    margin-left: 0px;
    width: 100%;
    .form-group {
        margin-left: 5px;
    }
}

.alert .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
