.tabulator, .tabulator-header, .tabulator-col {
    background-color: $brand-dark !important;
}

.tabulator-tableHolder {
    overflow-x: hidden !important;
}

.tabulator-header {
    border-bottom-color: $dark-gray !important;
}

.tabulator-col, .tabulator-cell {
    border-right-color: $dark-gray !important;
}

.tabulator-row-even {
    background-color: darken($brand-dark, 2%) !important;
}

.tabulator-row-odd {
    background-color: lighten($brand-dark, 2%) !important;
}

.tabulator-selected {
    background-color: lighten($brand-dark, 10%) !important;
}
