main {
    min-height: 100vh;
}

body {
    color: white;
    background-color: $brand-background;
}

.waiting {
    cursor: progress;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: $font-family-sans-serif-bold;
    font-weight: bold;
}

.outdated {
    opacity: 0.5;
}

.btn {
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    &:focus, &:active {
        box-shadow: none !important;
    }
    &:disabled {
        color: #ADADAD !important;
        background-color: #DDDDDD !important;
        border: none;
    }
}

.btn-primary {
    @include button-variant($brand-primary, darken($brand-primary, 10%));
    color: white;
}

.btn-success {
    @include button-variant($brand-success, darken($brand-success, 10%));
    color: white;
}

a:not(.btn), .btn-link {
    color: #666;
    text-decoration: underline;
}

.card-header {
    background-color: darken($brand-primary, 5%);
    h3, h4, h5 {
        color: white;
        margin-bottom: 0px;
        font-family: $font-family-sans-serif-bold;
    }
}

.card {
    overflow: hidden;
    border-color: $dark-gray;
    background-color: transparent;
}

.card-body {
    background-color: $brand-primary;
    color: white;
    form {
        width: 100%;
        margin: 0;
    }
    .btn-link {
        color: white;
        padding: 0;
    }
}

.landing-card .card-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    img {
        max-height: unset;
    }
}

@include media-breakpoint-up(lg) {
    .landing-card .card-body {
        flex-direction: row;
        img {
            max-height: 50vmin;
        }
    }
}

.navbar-laravel {
    background-color: $brand-primary;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    .container {
        max-width: unset;
    }
    .navbar-brand {
        font-family: $font-family-sans-serif-bold;
        font-weight: 500;
        max-height: 43px;
        max-width: 125;
    }
    .nav-link {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-family-sans-serif-bold;
    }
}

.login-box {
    min-width: 80%;
}

.date-buttons {
    .btn {
        height: 100%;
        width: 100%;
    }
}

.chart-title {
    margin-bottom: 0px;
    background-color: $brand-dark;
    padding: 0.75rem;
    border: 1px solid $dark-gray;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.chart:not(:empty) {
    border: 1px solid $dark-gray;
    border-radius: 0.25rem;
    overflow: hidden;
}

.chart-title + .chart {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.table {
    color: white;
}

.loader {
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 30%;
    border: 16px solid #001f1f;
    border-top: 16px solid #21C4C4;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: -60px;
}

.loader-spacer {
    top: 78px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    filter: blur(1px) grayscale(90%);
}

.loading-spacer {
    background-color: #000F0F;
    margin-top: 10px;
    padding-bottom: 135px;
    border: 1px solid #333;
    border-radius: 0.25rem;
}

// needed for Plotly.react
.plotly {
    min-height: 400px;
    .svg-container {
        height: 100% !important;
    }
}
#treemap-chart .plotly {
    min-height: 800px;
}

#explorer-chart {
    padding-bottom: 20%;
    min-height: 400px;
    height: 70vmin;
}
