main {
    min-height: 100vh;
}

body {
    color: white;
}

.btn {
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    &:focus, &:active {
        box-shadow: none !important;
    }
    &:disabled {
        color: #ADADAD !important;
        background-color: #DDDDDD !important;
        border: none;
    }
}

.btn-primary {
    @include button-variant($brand-primary, darken($brand-primary, 10%));
    color: white;
}

.btn-success {
    @include button-variant($brand-success, darken($brand-success, 10%));
    color: white;
}

.btn:not(.btn-link) {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

a:not(.btn), .btn-link {
    color: #666;
    text-decoration: underline;
}

.card-container {
    padding: 0 5rem 0 5rem;
}

a.row-card {
    border-radius: 0px;
    box-shadow: 0px 0px 10px $brand-light;
    text-decoration: none;
    &:hover {
        box-shadow: 0px 0px 10px lightgray;
        text-decoration: none;
    }
    .card-header {
        font-weight: bold;
    }
}

.card-header {
    background-color: darken($brand-primary, 5%);
    h3, h4, h5 {
        color: white;
        margin-bottom: 0px;
        font-family: $font-family-sans-serif-bold;
    }
}

.card-body {
    background-color: lighten($brand-primary, 5%);
    color: white;
    form {
        margin: 0;
    }
    .btn-link {
        color: white;
        padding: 0;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 200px;
    p {
        align-self: flex-start;
    }
    img {
        align-self: center;
        margin:auto;
        max-height: 80%;
        max-width: 80%;
    }
}

body {
    background-color: $brand-background;
}

body.waiting * {
    cursor: progress;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-sans-serif-light;
    color: white;
}

.select2-selection {
    background-color: $brand-dark !important;
    #select2-select-ticker-container {
        color: white !important;
    }
    .select2-selection__choice {
        background-color: $brand-primary !important;
    }
}

.select2 {
    width: 100% !important;
}

input {
    background-color: $brand-dark !important;
    color: white !important;
    border: 1px gray solid;
    border-radius: 0.5rem;
    padding: 5px 10px;
    width: 100%;
}

.select2-results, .select2-search__field {
    background-color: $brand-dark !important;
    color: white !important;
    .select2-results__option[aria-selected="true"] {
        background-color: #001F1F !important;
    }
    .select2-results__option--highlighted {
        background-color: #073333 !important;
    }
}

.sim-card {
    display: none;
    justify-content: center;
    align-content: center;
    background-color: $brand-dark;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.has-error input {
    border-color: $brand-danger;
    border-width: 4px;
}

.navbar-laravel {
    background-color: $brand-primary;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    .container {
        max-width: unset;
    }
    .navbar-brand {
        font-family: $font-family-sans-serif-bold;
        font-weight: 500;
        max-height: 43px;
        max-width: 125;
    }
    .nav-link {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-family-sans-serif-bold;
    }
}

.login-box {
    min-width: 80%;
}

.date-buttons {
    .btn {
        height: 100%;
        width: 100%;
    }
}
