// Body
$white: #ffffff;
$body-bg: $white;

// Brands
$brand-primary: #0d4d4d;
$brand-light: #428282;
$brand-dark: #000f0f;
$brand-background: #001f1f;
$brand-info: #b3b7a9;
$brand-success: #6fa92e;
$brand-warning: #62bbcb;
$brand-danger: #ec693b;
$text-color: #636b6f;

$light-blue: #F4F7FE;
$light-gray: #ECEFF8;

// Typography
$font-family-sans-serif: "Hind Madurai", sans-serif;
$font-family-sans-serif-bold: "Hind Madurai Bold", "Hind Madurai", sans-serif;
$font-family-sans-serif-light: "Hind Madurai Light", "Hind Madurai", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Transitions
$transitionSpeed: 0.35s;

// Radius'
$standard-radius: 3px;

// MQ's
$mq-tiny: 320px;
$phone: 480px;
$bs4-phone: 576px;
$tablet: 767px;
$desktop: 992px;
$lg-desktop: 1200px;

// Margins and Padding
$num-of-classes: 5;
$directions: ('top', 'bottom', 'left', 'right');
$types: ('margin', 'padding');
$queries: (
    $mq-tiny: 'xxs',
    $phone: 'xs',
    $tablet: 'sm',
    $desktop: 'md',
    $lg-desktop: 'lg'
);

// // Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels / Cards
$panel-default-heading-bg: $white;
